mat-card {
    max-width: 400px;
    margin-left: 10px;
    margin-top: 10px;
}

.avatar-image {
    width: 70px;
    margin: -10px -10px 10px -10px;
    background-image: url('../../../assets/scenario-avater.png');
    background-size: cover;
}

.item-container mat-progress-bar {
    width: 200px;
}