mat-card {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

.avatar-image {
    width: 70px;
    margin: -10px -10px 10px -10px;
    background-image: url('../../../assets/scenario-avater.png');
    background-size: cover;
}

.item-container {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}