mat-card {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.avatar-image {
    width: 70px;
    margin: -10px -10px 10px -10px;
    background-image: url('../../../assets/scenario-avater.png');
    background-size: cover;
}

.item-container mat-progress-bar {
    width: 200px;
    box-sizing: border-box;
}