.container {
    display: flex;
    flex-wrap: wrap;
}

.scenario {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
}

.content-title {
    text-align: center;
    user-select: none;
}

mat-dialog-actions button {
    width: 100%;
}